mixin symbol_list(list)
  ul#symbols
    each symbol in list
      li(data-symbol="#{symbol.symbol}")
        a(href="/order-book/#{symbol.symbol_id}" title="#{symbol.company_name}") #{symbol.symbol}

mixin symbol_summary(symbol, stats)
  div.symbol-panel
    div.name
      h1= symbol.symbol
      h2= symbol.company_name
    div.details
      table.details-data
        tbody
          tr
            td.field Last:
            td.datum=stats.lastTrade
            td.field High:
            td.datum=stats.highestTrade
          tr
            td.field Volume:
            td.datum=stats.totalVolume
            td.field Low:
            td.datum=stats.lowestTrade
          tr
            td.field Spread:
            td.datum=Math.abs(stats.spread)
            td.field Change:
            if(stats.change < 0) 
              td.datum.neg=stats.change
            else
              td.datum.pos=stats.change
    canvas#display(width='200', height='60')
  nav.symbol-nav
    ul.symbol-menu
      li
        a(href="/order-book/#{symbol.symbol_id}")
          i.icon.icon-newspaper
          |  Order Book
      li
        a(href="/stock-price/#{symbol.symbol_id}")
          i.icon.icon-math_ico
          |  Stock Price
      

mixin client_list(list)
  div#client-list
    h2 Connected Nodes
    table.table.table-hover.table-striped.clients
      thead
        tr
          th IP
          th Total Packets
          th Current Packets
      tbody
        each client in list
          - if(client.currentPackets > 200) {
            tr
              td.negc=client.name
              td.negc=client.totalPackets
              td.negc=client.currentPackets
          - }
          - else {
            tr
              td.posc=client.name
              td.posc=client.totalPackets
              td.posc=client.currentPackets
          - }

mixin system_status(throughput, loadAv, total_orders, total_trades, total_symbols)
  div#system-status
    h2 System Statistics
    table.table.table-striped.table-hover
      thead
        tr
          th Load Average
          th Total Orders
          th Total Trades
          th Total Companies
      tbody
        tr
          td=loadAv
          td=total_orders
          td=total_trades
          td=total_symbols
   