extends layout

block head
  script(src='/js/main.js')
  script(src='/js/time.js')
  script(src='/js/order-book.js')
  script.
    client.offerList = !{JSON.stringify(offer_list)}

block content
  +symbol_summary(symbol, stats)
  
  #offer-table
    h1 Offers
    table.table.table-striped.table-hover
      thead
        tr
          th Price
          th Volume
          th Value
          th Time
      tbody
      each offer in offer_list
        tr
          td=(offer.price*symbol.price_scale).toFixed(2)
          td=offer.volume
          td=(offer.price*symbol.price_scale*offer.volume).toFixed(2)
          td=moment(offer.updated_s * 1000).format('DD/MM/YYYY - HH:mm:ss')

  #bid-table
    h1 Bids
    table.table.table-striped.table-hover
      thead
        tr
          th Price
          th Volume
          th Value
          th Time
      tbody
      each bid in bid_list
        tr
          td=(bid.price*symbol.price_scale).toFixed(2)
          td=bid.volume
          td=(bid.price*symbol.price_scale*bid.volume).toFixed(2)
          td=moment(bid.updated_s * 1000).format('DD/MM/YYYY - HH:mm:ss')