extends layout

block content
  .page-header
    h3 Order Book - #{companyName} (#{companySymbol})
    table.table.table-hover.table-striped
      tr
        th order_id
        th symbol_id
        th price
        th volume
        th is_ask
        th placed_s
        th placed_seq_num
        th updated_s
        th updated_seq_num
      each row in data
        tr
          th=row.order_id
          th=row.symbol_id
          th=(row.price*priceScale).toFixed(2)
          th=row.volume
          th=row.is_ask
          th=row.placed_s
          th=row.placed_seq_num
          th=row.updated_s
          th=row.updated_seq_num