extends layout

block head
  script(src='/js/main.js')
  script(src='/js/time.js')
  script.
    client.symbol = !{JSON.stringify(symbol)};
    client.offerList = !{JSON.stringify(offer_list)};
    client.bidList = !{JSON.stringify(bid_list)};
  script(src='/js/order-book.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')

block content
  +symbol_summary(symbol, stats)
  
  #offer-table
    h1 Offers
    table.table.table-striped.table-hover
      thead
        tr
          th Price
          th Volume
          th Value
          th Time
      tbody#offer-rows
        each offer in offer_list
          tr(data-order-id="#{offer.order_id}", data-price="#{offer.price}")
            td=(offer.price*symbol.price_scale).toFixed(2)
            td=offer.volume
            td=(offer.price*symbol.price_scale*offer.volume).toFixed(2)
            td=moment((offer.updated_s-18000) * 1000).format('DD/MM/YYYY - HH:mm:ss')

  #bid-table
    h1 Bids
    table.table.table-striped.table-hover
      thead
        tr
          th Price
          th Volume
          th Value
          th Time
      tbody#bid-rows
        each bid in bid_list
          tr(data-order-id="#{bid.order_id}", data-price="#{bid.price}")
            td=(bid.price*symbol.price_scale).toFixed(2)
            td=bid.volume
            td=(bid.price*symbol.price_scale*bid.volume).toFixed(2)
            td=moment((bid.updated_s-18000) * 1000).format('DD/MM/YYYY - HH:mm:ss')