extends layout

block content
  #stat-container
    h4 Current order book for #{companyName} (#{companySymbol})
    #stats
      #stat-first Last: 
      #stat Volume: 
      #stat Spread: $#{spread.toFixed(2)}
      #stat High: 
      #stat Low: 
      #stat Change: 
  #tables
    #offer-table
      h4 Offers:
      table.table.table-hover.table-striped
        tr
          th Price
          th Volume
          th Total
          th Time        
        each row in offers
          tr
            th=(row.price*priceScale).toFixed(2)
            th=row.volume
            th=(row.price*priceScale*row.volume).toFixed(2)
            th=moment(row.placed_s * 1000).format('DD/MM/YYYY - HH:mm:ss')
    #bid-table
      h4 Bids:
      table.table.table-hover.table-striped
        tr
          th Price
          th Volume
          th Total
          th Time        
        each row in bids
          tr
            th=(row.price*priceScale).toFixed(2)
            th=row.volume
            th=(row.price*priceScale*row.volume).toFixed(2)
            th=moment(row.placed_s * Math.pow(10, 3)).format('DD/MM/YYYY - HH:mm:ss')
    .clear
  
